
@{
   // Layout = null;
    ViewBag.Title = "Notification";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script> 
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


<script>
    function updatePage() {
        var Id = $("#ddlUser").val();  
        $("#selectedUserId").val(Id);
        $("#userLabel").html("Hello " + Id);
        $("#dvtxtArea").show();

        $("#dfltOpt").html('select a recipient ');
        $("#ddlUser").val("").attr("selected", "selected");

    }
</script>
<div class="col-md-12">
    <div >

    </div>
</div>

<h2 id="userLabel">  Please Select An User<span id="lblUserName"></span></h2> 
<input type="hidden" id="selectedUserId" />
<div id="Notifications">
    <label id="NotificationsMsg">

    </label>
</div>

<div class="col-xs-12 col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 noti-form">
    
        <div class="form-group">
            <label for="exampleInputEmail1">Select Option</label>
            <select id="ddlUser" class="form-control" onchange="updatePage()">
                <option id="dfltOpt" value="" selected>Select User Id</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        <div class="form-group" id="dvtxtArea" style="display:none">
            <label for="exampleInputEmail1">Text Area</label>
            <textarea id="msg" class="form-control" rows="5"></textarea>
        
            <button type="button" id="send" class="btn btn-primary">Submit</button>
        </div>                         
</div>




<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="~/signalr/hubs"></script>

<script> 
    $(document).ready(function () {
       
    });
</script>


<script>  
    $(function () {

        //client
        var app = $.connection.notificationMsg;
        app.client.newMessage = function (data) {

            $.each(data, function (i, val) {
                console.log(val.NotificationMessage);
            });

            $('#NotificationsMsg').text(data);
        };

        app.client.updateActiveUsers = function (users) {
            // save name
            $("#lblUserName").html($('#displayname').val());
            var objArrayUser = (JSON.parse(users));
            console.log(objArrayUser);
            //empty previous options
            $('#ddlUser').html('');
            var ddlUsers = $("#ddlUser");
            $(objArrayUser).each(function () {
                var option = $("<option />");

                //Set Customer Name in Text part.
                option.html(this.name);

                //Set Customer CustomerId in Value part.
                option.val(this.connID);

                //Add the Option element to DropDownList.
                ddlUsers.append(option);
            });

        };

        //server
        $.connection.hub.start().done(function () {
            $("#send").click(function () {
                app.server.getNotificationMsg($("#ddlUser").val(), $("#msg").val());
            });
        });

    });

</script>