
@{
   // Layout = null;
    ViewBag.Title = "Notification";
}
 
<script src="~/Scripts/jquery-1.10.2.min.js"></script> 
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
 
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/pnotify/pnotify.custom.min.js"></script>
<link href="~/Scripts/pnotify/pnotify.custom.min.css" rel="stylesheet" />

<script>
    function updateFirstTime() {
        if ($("#userName").val()) {
            var Id = $("#userName").val();
            $("#currentUserId").val(Id);
            $("#userLabel").html("Hello " + Id);

            $("#dvUserName").hide();
            $("#dvSelectRecipient").show();
            $("#dvtxtArea").show();
           
            var app = $.connection.notificationMsg;
            app.server.getActiveUsers($("#currentUserId").val(), $.connection.hub.id);
        } else {
            new PNotify({
                title: 'Oh No!',
                text: 'User Name Cannot Be blank',
                type: 'error'
            });
        }
    }
</script>

<div class="col-md-12">
    <div >

    </div>
</div>

<h2 id="userLabel">  Please Select An User<span id="lblUserName"></span></h2> 
<input type="hidden" id="currentUserId" />
<div id="Notifications">
    <label id="NotificationsMsg">

    </label>
</div>

<div class="col-xs-12 col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 noti-form">    
        <div class="form-group" id="dvUserName">
            <table class="table table-responsive">
                <tr>
                    <td>
                        <label for="exampleInputEmail1">Enter User Name</label> 
                    </td>
                    <td>
                        <input type="text" placeholder="User Name" id="userName" />
                    </td>
                    <td> 
                          <button type="button" class="btn btn-default"  onclick="updateFirstTime()"> Enter</button>
                    </td>
                </tr>
            </table>                                     
        </div>

    <div class="form-group" id="dvSelectRecipient" style="display:none">
        <label>Select a Recipient  </label>
        <select id="ddlUser">            
        </select>
    </div>
    <div class="form-group" id="dvtxtArea" style="display:none">
        <label for="exampleInputEmail1">Text Area</label>
        <textarea id="msg" class="form-control" rows="5"></textarea>
        
        <button type="button" id="send" class="btn btn-primary">Submit</button>
    </div>                         
</div>

<script src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script src="~/signalr/hubs"></script>
<script>  
    $(function () {

        //client
        var app = $.connection.notificationMsg;
        app.client.sendMessage = function (from , msg) {
             
            $('#NotificationsMsg').append(msg);
        };

        app.client.notifyMessageDelivered = function (to) {
            new PNotify({
                title: 'Success!',
                text: 'Message Deliverd to ' + to,
                type: 'success'
            });
        }

        app.client.updateActiveUsers = function (users) {
            // save name
            $("#lblUserName").html($('#displayname').val());
            var objArrayUser = (JSON.parse(users));                       
         
            $select = $("#ddlUser");
            var listitems = '';

            if (objArrayUser.length < 2) {
             //   $('#dvSelectRecipient   ').html(" No Active Users ");
            } else {
                $.each(objArrayUser, function (key, value) {
                    if (value.connID != $.connection.hub.id && (value.name != "")) { //exclude self
                         
                        listitems += '<option value=' + value.connID + '>' + value.name + '</option>';
                    }
                });
                $select.html(listitems);
            }
        };

        //server
        $.connection.hub.start().done(function () {           
            $("#send").click(function () {
                var msg = $("#msg").val();
                var recipient = $("#ddlUser").val();
                console.log(recipient);
                if (recipient) {
                    app.server.sendNotificationMsg($("#currentUserId").val(), recipient, msg);
                } else {
                    new PNotify({
                        title: 'Oh No!',
                        text: 'Please select a recipient',
                        type: 'error'
                    });
                }
            });
        });

    });

</script>